name: Docker and Push CI

on:
    push:
        branches: [ "main" ]
    workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_TAG: ${{ github.sha }}
  IMAGE_NAME: ${{ github.repository }}

jobs:
    build-and-push:

      permissions:
        contents: read
        packages: write

      runs-on: ubuntu-latest

      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Install Docker
          uses: docker/setup-buildx-action@v3

        - name: Login to ${{ env.REGISTRY }}
          uses: docker/login-action@v3
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and Push
          uses: docker/build-push-action@v5
          with:
            context: .
            file: Dockerfile
            push: true
            tags: |
              ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
              ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            cache-from: type=gha
            cache-to: type=gha,mode=max
